<div class="portlet portletG" id="portlet_featuredUsers">
    <h2><span>Profiles</span></h2>
    <div class="portlet_content">
        <ul class="clearfix">
          <% @profiles.each do |profile|%>
            <li><%=link_to icon_for_profile(profile, 'medium'), profile_path(profile), :title => profile.full_name %></li>
          <%end%>          
        </ul>
    </div>    
</div>