<div class="portlet portletB" id="profiles_list">
    <h2><span>Profiles</span></h2>
    <div class="portlet_content">
        <ul>
					<% @profiles.each do |profile|%>
	          <li>
	          	<div class="list image"><%=link_to icon_for_profile(profile, 'small'), profile_path(profile)%></div>
							<div class="list title"><%=link_to profile.full_name, profile_path(profile)%></div>
	          </li>
					<%end%>
        </ul>
    </div>    
</div>