<div class="detail detail1">
    <div class="image"><%=icon_for_profile(@profile, 'big')%></div>
    <div class="title"><%=profile.full_name%></div>
    <div class="subtitle">Username:  <%=profile.user.login%></div>
    <div class="summary">Profile summary</div>
    <div class="text">
        <p>blah, blah, blah</p>
    </div>
    
    <div class="portlet portletC" id="portlet_moreLinks">
        <h2><span>More links</span></h2>
        <div class="portlet_content">
            <ul>
                <li><a href="#">Ver amigos de Aitor (67)</a></li>
                <li><a href="#">Enviarle un mensaje a Aitor.</a></li>
                <li><a href="#">Este perfil es inapropiado.</a></li>
            </ul>
        </div> 
    </div>    
    
</div> <!-- /.detail1 -->    

