<div class="portlet portletB" id="portlet_last_groups">
  <h2><span>Last groups</span></h2>
  <div class="portlet_content">
    <ul>
      <% last_groups(3).each do |group| -%>
        <li>
          <%= link_to group.name, group_path(group) -%> <%= group.members.size -%> members
        </li>
      <% end -%>
    </ul>
  </div>
</div>