<form name="group_search" id="group_search" action="<%= search_groups_path %>">
  <label for="group_search_field">Search groups</label>
  <input type="text" name="search_term" id="search_term" value="<%=@search_term%>" class="fieldbox" />
  <input type="submit" value="Go" class="button" />
</form>