<div class="portlet_tags">
  <div class="portlet_title"><strong>Etiquetas (Tags) en comunidades</strong></div>
  <div class="portlet_content">
    <ul>
      <% tag_cloud_groups %w(l1 l2 l3 l4 l5 l6 l7) do |tag, css_class| %>
        <li class="<%= css_class -%>"><%= link_to tag.name, tag_groups_path(tag.name) %></li>
      <% end -%>
    </ul>
  </div> <!-- .portlet_content --> 
</div>  <!-- .portlet_tags -->