<p>
One of the moderators of group <a href="<%=@group_url%>"><%=@group.name%></a> thinks that you could be interesed in joining it.
<p>
<br/>
<p>
<a href="<%=@accept_url%>">accept invitation</a> |  
<a href="<%=@reject_url%>">reject invitation</a>