<p>
Hi <%=@user.profile.full_name%>,
</p>	
<p>
You request for joiniing group '<%= @group.name %>' has been rejected. Sorry.
</p>
<p>
If you think that you should be part of this group you can end a private message to he moderator <a href="<%=@moderator_url%>"><%=@moderator.name%></a>
</p>